html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

}
.prof-box {



	width: 450px;
	height: 500;

	white-space : normal;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: 100px;
	text-align: center;
	text-overflow: ellipsis;


}


.prof-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;

}
h1{
  font-weight: 200px;
	font-size: 40px;
	letter-spacing: 2px;

}
h5{
	    font-weight: 200;
}
p{

    font-size: smaller;
}

.social-icons {
	font-size: 50px;
}
.social-icons a {
	color: white;
}
.line-break {
	width: 375px;

	border-top: 1px solid white;
}




.container {
	width: 80%;
	margin: 0 auto;
	padding: 0 auto;
}

header {


}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 5px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #f7f7f7;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f7f7f7;


  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

